input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tipForm{
    display: flex;
    flex-direction: column;
    width: 375px;
    justify-content: center;
    margin-right: 2em;
}

.input-group{
    width: 100%;
    position: relative;
}

.input-group label{
    display: inline-block;
    color: hsl(184, 14%, 56%);
    margin-bottom: 5px;
}

.input-group input{
    color: hsl(183, 100%, 15%);
    width: 95%;
    display: block;
    border: transparent;
    padding: 5px;
    border-radius: 5px;
    background-color: hsl(189, 41%, 97%);
    text-align: end;
    font-size: 25px;
    font-weight: bold;
    outline: none;
}

.input-group input:focus{
    border: 2px solid hsl(172, 67%, 45%);
}

.input-group img{
    color: black;
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.tip-group p{
    color: hsl(184, 14%, 56%);
    margin-bottom: 5px;

}

.tip-group ul{
    list-style: none;
    padding: 0px;
}

.tip-group li{
    display: inline-block;
    width: 20%;
    padding: 10px 20px;
    margin: 5px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    background-color: hsl(183, 100%, 15%);
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}


.tip-group li:hover{
    background-color: hsl(172, 67%, 45%);
}

.tip-group .custom_tip{
    background-color: hsl(189, 41%, 97%);
}

.errorText {
    display: inline-block;
    color: red;
}

.input-group .errorBorder{
    border: 2px solid red;
}

.input-group .errorBorder:focus{
    border: 2px solid red;
}


@media screen and (max-width: 900px) {
    .tipForm{
        width: 320px;
    }

    .tip-group li{
        padding: 10px 15px;
        margin: 5px;
        font-size: 20px;
    }
}

@media screen and (max-width: 760px) {
    .tipForm{
        width: 250px;
    }

    .tip-group li{
        width: 17%;
        margin: 5px;
        font-size: 15px;
    }
}

@media screen and (max-width: 620px) {
    .tipForm{
        margin-right: 0;
    }

    .tipForm{
        padding: 20px;
    }
}